@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Josefin+Sans:wght@300;500&display=swap');

.Header {
   color: #ff004c;
   text-align: center;
   font-family: 'IBM Plex Sans', sans-serif;
   margin-top: 170px;
  
}

h3 {
   font-family: 'Josefin Sans', sans-serif;
   margin-bottom: -8px;
   color: white;
   font-size: 20px;
   
}

p {
   font-size: 13px;
   
}


