.contact {

    top: 230px;
    text-align: center;

}

.phone-number {

    display: inline-block;   
    font-weight: normal;
    font-size: 12px;

    
}

.call-link {

    text-decoration: none;
    color: white;
    
   
}

.email-title {
    display: inline-block;
    font-size: 12px;
}

.w-icon {
    display: inline-block;
    margin-right: 5px;
}

.e-icon {
    display: inline-block;
    margin-left: 5px;
}