.contact {

    margin: 0;
    position: absolute;
    top: 230px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
   
}

.phone-number {

    display: inline-block;   
    font-weight: normal;
    font-size: 12px;

    
}

.call-link {

    text-decoration: none;
    color: white;
    
   
}

.email-title {
    display: inline-block;
    font-size: 12px;
}

.w-icon {
    display: inline-block;
    margin-right: 5px;
}

.e-icon {
    display: inline-block;
    margin-left: 5px;
}