.social {
   top: 45%;
    margin-bottom: 20px;
    display: inline-flex;
    margin: 0;
    position: absolute; 
    left: 50%;
   -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    
}



.github {
    
    height: 35px;
    width: 35px;
    padding-top: 15px;
    margin-right: 30px;
    
    
}

.youtube {
    
    margin-top: 10px;
    width: 50px;
    height: 35px;
    padding-top: 10px;
    margin-right: 30px;
 
}

.instagram {
    margin-top: 10px;
    width: 35px;
    height: 35px;
    padding-top: 10px;
    margin-right: 30px;
 
}

.twitter {
    margin-top: 10px;
    width: 40px;
    height: 35px;
    padding-top: 10px;
 
}


.social-link {
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Kameron', serif;
    color: white;
    text-decoration: none;
    
}

.title-social {
    color: rgb(7, 136, 241);
    font-family: 'Kameron', serif;
    font-size: 20px;
    margin-top:  80px;
    text-align: left;
}